{% extends 'components/base2.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<!-- [ Header ] start -->
<header class="navbar pcoded-header navbar-expand-lg navbar-light w-100 ml-0">
    <a class="mobile-menu" id="mobile-header" href="javascript:">
        <i class="feather icon-more-horizontal"></i>
    </a>
    <div class="collapse navbar-collapse bg-white">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <h4 class="pl-3 pl-sm-0"><a href="javascript:void">{{ request.session.company }}</a></h4>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li>
                <div class="dropdown drp-user">
                    <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon feather icon-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-notification">
                        <div class="pro-head" style="background-color: #ffffff">
                            {% if user.profile.image == 'avatar.png' %}
                            <a href="{% url 'user-profile' %}"><img src="/media/Profile_Images/{{ user.profile.image }}"
                                    class="img-radius" alt="{{ user.profile.image}}">
                                <span class="">{{ user.first_name }}</span></a>
                            {% else %}
                            <a href="{% url 'user-profile' %}"><img src="{{ user.profile.image.url }}"
                                    class="img-radius" alt="{{ user.profile.image }}">
                                <span class="">{{ user.first_name }}</span></a>
                            {% endif %}
                        </div>
                        <div class="p-3">
                            <a href="{% url 'user-logout' %}" class="dud-logout" style="font-size: 14px;"
                                title="Logout">
                                <i class="feather icon-log-out mr-3"></i>Logout
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>
<!-- [ Header ] end -->
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ Pre-loader ] End -->

<!-- [ Main Content ] start -->
<div class="pcoded-main-container ml-0 w-100" id="customer_profile_page">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-8 float-right">
                                <ul class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a href="{% url 'dashboard-index' %}"><i
                                                class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">Profile</a></li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <a href="#profile_edit_modal" data-toggle="modal" class="float-right mr-3"><i
                                        class="feather icon-edit"></i> Edit Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->

                <!-- ---------------------------------------------------------------------------------------------------------------- -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <!-- check profile_details.html for full html -->
                        <div class="row" id="profile_details"></div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

<!-- ...................................................................................................... -->

<!-- [ modals] -->
<div class="modal" id="profile_edit_modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content p-3" style=" box-shadow: 0 12px 54px #cccccc;">
            <div class="modal-header p-0 mb-3">
                <h5 class="modal-title">Update Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button><span
                    aria-hidden="true" style="font-size: 24px;">&times;</span>
            </div>
            <div class="modal-body p-0">
                <div class="m-0">
                    <!-- [ user form ] start -->
                    <form action="/profile_update/" method="post" enctype="multipart/form-data" class="reg_login_form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="form-group d-flex justify-content-center align-items-center flex-column h-100"
                                    id="" style="position: relative;">
                                    {% if user.profile.image == 'avatar.png' %}
                                    <img id="image_profile_preview" src="/media/Profile_Images/{{ user.profile.image }}"
                                        alt="Staff Photo" style="width: 100%;">
                                    {% else %}
                                    <img id="image_profile_preview" src="/media/{{ user.profile.image }}"
                                        alt="Staff Photo" style="width: 100%;">
                                    {% endif %}
                                    <input type="file" name="image" id="image_profile_add" style="display: none;"
                                        onchange="preview_image(event)" class="form-control">
                                    <label for="image_profile_add"
                                        style="position:absolute; color: transparent; width: 100%; height: 100%; left:0;">Select
                                        Photo</label>
                                    <p class="small mb-0">Click to select photo</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="first_name">First Name: <span class="text-danger">*</span></label>
                                    <input class="form-control" placeholder="e.g Daniel" aria-label="First Name"
                                        aria-required="true" title="First Name" type="text" autocomplete="given-name"
                                        name="first_name" id="first_name" value="{{ user.first_name }}">
                                </div>
                                <div class="form-group">
                                    <label for="last_name">Last Name: <span class="text-danger">*</span></label>
                                    <input class="form-control" placeholder="e.g. Kosoko" aria-label="Last Name"
                                        aria-required="true" required title="Last Name" autocomplete="family-name"
                                        required type="Last Name" name="last_name" id="last_name"
                                        value="{{ user.last_name }}">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email: <span class="text-danger">*</span></label>
                                    <input class="form-control" aria-label="Email" placeholder="e.g. johndoe@gmail.com"
                                        aria-required="true" required title="Email Address" type="email" name="email"
                                        autocomplete="email" id="email" value="{{ user.email }}">
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone number</label>
                                    <input type="text" value="{{ user.profile.phone }}" id="phone" name="phone"
                                        placeholder="Phone number" class="form-control" title="Type your Phone Number"
                                        value="{{ user.profile.phone }}">
                                </div>
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="text" autocomplete="address" id="address" name="address"
                                        placeholder="Address" class="form-control" aria-label="Address"
                                        title="Type your Address" value="{{ user.profile.address }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" data-name="Update Profile"
                                class="mt-3 w-100 btn label theme-bg text-white f-12" title="Submit user details"
                                value="Update Profile">
                        </div>
                    </form>
                    <!-- [ user form ] ends -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ modals ] end -->
{% endblock %}