{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %} {% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="An inventory management system" />
  <meta name="keywords" content="Inventory" />
  <meta name="author" content="nieldigital.com" />

  <!-- Favicon icon -->
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <!-- fontawesome icon -->
  <link rel="stylesheet" href="{% static 'fonts/fontawesome/css/fontawesome-all.min.css' %}">
  <!-- animation css -->
  <link rel="stylesheet" href="{% static 'plugins/animation/css/animate.min.css' %}">
  <!-- vendor css -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  </head>

<body>
  {% block content %} {% endblock %}
</body>

<!-- Required Js -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>